.footer {
  padding-top: 22px;
  padding-bottom: 30px;
  border-top: 1px solid #E6E6E6;
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__copyright {
  justify-self: center;
  align-self: self-end;
  font-size: 12px;
  line-height: 130%;
  color: #212121;
}

.footer__social-list {
  justify-self: end;
  display: flex;
  gap: 15px;
}

.footer__social-item {
  line-height: 0;
}

.footer__social-link {
  display: block;
}

.footer__social-link {
  display: block;
}

@media (max-width: 768px) {

}

@media (max-width: 640px) {


  .footer__container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'logo social'
      'copyright copyright';
    align-items: center;
  }

  .footer__logo {
    grid-area: logo;
    max-width: 55px;
  }

  .footer__social-list {
    grid-area: social;
  }

  .footer__copyright {
    grid-area: copyright;
  }
}
