/*
@font-face {
  font-display: swap; 
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v12-latin_cyrillic-600.woff2') format('woff2'),
      url('../fonts/inter-v12-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/inter-v12-latin_cyrillic-700.woff2') format('woff2'), 
      url('../fonts/inter-v12-latin_cyrillic-700.woff') format('woff');
}
*/
html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: #212121;
  background-color: #FFFFFF;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
fieldset, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  outline: inherit;
  border: none;
  background-color: inherit;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --padding: 150px;
  --max-width: 1140px;
  max-width: calc(var(--max-width) + var(--padding)*2);;
  padding: 0 var(--padding);
  margin: 0 auto;
}

.title-wrapper {
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.title {
  max-width: 850px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  color: #212121;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  column-gap: 20px;
  row-gap: 40px;
  justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .container {
    --padding: 85px;
  }
  
  
}

@media (max-width: 1024px) {
  .container {
    --padding: 880px
    --padding: 30px;
  }
  
}

@media (max-width: 768px) {
  .container {
    --max-width: 620px;
  }

  .list {
    grid-template-columns: repeat(auto-fill, 140px);
    row-gap: 20px;
  }
  
}

@media (max-width: 540px) {
  .container {
    --padding: 15px;
  }
  
  .list {
    grid-template-columns: repeat(auto-fill, 140px);
    row-gap: 10px;
  }
}