.item {
}

.item__content {
  display: grid;
  grid-template-rows: 200px 1fr;
  gap: 10px;
  height: 100%;
  position: relative;
}

.item__wrapper-content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item__img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.item__overlay-load {
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.item__overlay-load svg {
  max-width: 100px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}


.item__image {
  max-height: 200px;
  max-width: 270px;
  height: 100%;
  object-fit: cover;
}

.item__title {
  max-width: 240px;
  height: 100%;
  align-self: start;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #212121;

  transition: color .3s ease-in-out,
  outline .3s ease-in-out;
}

.item__news-link {
  height: 100%;
  display: block;     
  outline: 1px solid transparent;
  outline-offset: 2px;

  transition: color .3s ease-in-out,
    outline .3s ease-in-out;
}

.item__news-link:hover .item__title {
  color: gray;
}

.item__news-link:focus {
  outline-color: #212121;
}

.item__news-link:active {
  color: #212121;
}

.item__link {
  line-height: 0;
  position: absolute;
  top: 0;
  right: 5px;
  color: #F2994A;

  transition: color .3s ease-in-out,
    transform .3s ease-in-out;
}

.item__link:hover {
  color:#f6cfad;
}

.item__link:focus {
outline-color: #F2994A;;
}

.item__link:active {
  transform: scale(1.2);
}

.item__description {
  height: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
}

.item__info {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.item__published {
  height: 100%;
  display: flex;
  gap: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: #8E8E8E;
}

.item__author {
  height: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: #8E8E8E;
  text-align: end;
}

@media (max-width: 768px) {
  .item__title {
    max-width: 155px;
    font-size: 12px;
    line-height: 1.3;
  }

  .item__description {
    font-size: 10px;
    line-height: 1.3;
  }

  .item__published {
    font-size: 8px;
    line-height: 1.3;

  }

  .item__author {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  .item__title {
    max-width: 115px;
    font-size: 12px;
    line-height: 1.3;
  }

  .item__description {
    font-size: 10px;
    line-height: 1.3;
  }

  .item__published {
    font-size: 8px;
    line-height: 1.3;

  }

  .item__author {
    font-size: 8px;
  }
}