.item {
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  /*max-height: 360px;*/
  gap: 10px;
}
.item__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item__title {
  max-width: 240px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #212121;
}

.item__title-link {
  display: block;     
  outline: 1px solid transparent;
  outline-offset: 2px;

  transition: color .3s ease-in-out,
    outline .3s ease-in-out;
}

.item__title-link:hover {
  color: gray;
}

.item__title-link:focus {
  outline-color: #212121;
}

.item__title-link:active {
  color: #212121;
}


.item__link {
  line-height: 0;
  position: absolute;
  top: 216px;
  right: 0;
  color: #F2994A;

  transition: color .3s ease-in-out,
    transform .3s ease-in-out;
}

.item__link:hover {
  color:aqua;
}

.item__link:focus {
outline-color: #F2994A;;
}

.item__link:active {
  transform: scale(1.2);
}

.item__description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
}

.item__info {
  display: flex;
  justify-content: space-between;
}

.item__published {
  display: flex;
  gap: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 13px;
  color: #8E8E8E;
}

.item__author {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 10px;
  line-height: 130%;
  color: #8E8E8E;
  text-align: end;http://127.0.0.1:5500/index.html#
}

.item__image-link {
  max-height: 270px;
  order: -1;
  line-height: 0;

  transition: transform .3s ease-in-out;
}

.item__image-link:hover {
  transform: scale(1.05);
}
