.pagination {
  display: flex; 
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  max-width: max-content;
  margin: 0 auto;
}

.pagination__link {
  line-height: 0;
  color: var(--blue-color, #3670C7);
}

.pagination__link_disabled {
  color: var(--gray-color, #8F8F8F);
}

.pagination__list {
  display: flex;
  gap: 6px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  min-height: 36px;
  border: 2px solid var(--main-color);
  border-radius: 4px;

  font-size: 16px;
  line-height: 130%;
  color: var(--main-color);

}

.pagination__item_active {
  border-color: var(--blue-color, #3670C7);
}

@media (max-width: 780px) {
  .pagination {
    gap: 20px;
  }
  
  .pagination__item {
    min-width: 24px;
    min-height: 24px;
    font-size: 14px;
  }
}