.search-news {
  padding-bottom: 40px;
}
/*
.search-news__title-wrapper {
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.search-news__title {
  max-width: 850px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 130%;
  color: #212121;
}

.search-news__list {
  display: flex;
  column-gap: 20px;
  row-gap: 40px;
  flex-wrap: wrap;
}
*/